<!DOCTYPE html>
<html lang="en">

<html>
    <head>
    
        {{>head}}
        
        <title> Products </title>
    </head>

    <body style="background:black"> 
    {{>nav}}
    <section class="card-position">

    <div class="pl-lg-5 ml-md-5 ftco-animate">
        {{>card}}

        
    </div>
    </section>
    {{>footer}}
    {{>scripts}}
    </body>
</html>
