<!DOCTYPE html>
<html lang="en">

<html>
    <head>
    
        {{>head}}
        
        <title> Products </title>
    </head>

    <body style="background:black"> 
    {{>nav}}
    <section class="card-position">
        {{>card}}
    </section>
    {{>footer}}
    {{>scripts}}
    </body>
</html>
