<html>
    <head>
        {{>head}}
        <title> Sign up </title>
        <link rel="stylesheet" href="sign.css">
    </head>
    
    <body style="background:black">
    {{>nav}}
    <div class="pl-lg-5 ml-md-5 ftco-animate">
        <div class="sign-up-form">
            <h1> Sign up </h1>
            <form>
                <input type="email" class="input-box" placeholder="Email">
                <input type="password" class="input-box" placeholder="Password">
            </form>
        </div>
    </div>
    {{>footer}}
    {{>scripts}}
    </body>
</html>