


<html>
  <head>
    {{>head}}
    <title>Sign up</title>
    <link rel="stylesheet" href="sign.css" />
  </head>

  <body>
    {{>nav}}
    <section class="ftco-animate" style="background-color: black;">
    <section class="home-slider js-fullheight owl-carousel bg-black">

   

      <div class="slider-item js-fullheight">
      	<div class="overlay"></div>
        <div class="container-fluid p-0">
          <div class="row d-flex no-gutters slider-text js-fullheight align-items-center justify-content-end" data-scrollax-parent="true">
          	<div class="one-third order-md-last img js-fullheight" style="background-image:url(images/kod.png); opacity: 0.2;">
          		<div class="overlay"></div>
          	</div>
	          <div class="one-forth d-flex js-fullheight align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
	          	<div class="text mt-md-5">
		            
	            </div>
	          </div>
        	</div>
        </div>
      </div>
      
    </section>

    <form class="login-box" method="post" action="/signin">
      <h1>Login</h1>
   
        <div class="textbox">
        <input type="email" class="input-box" placeholder="Username" name="user" />
        </div>
        <div class="textbox">
        <input type="password" class="input-box" placeholder="Password" name = "pw" />
      </div>
      <input class="btn" type="button" name="" value="Sign in" 
        style="color: white; width: 100%; border: 2px solid white; padding: 5px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; "
        onclick="location.href='../admin'">

    </form>
    </section>
      


 

  
    {{>footer}}
    {{>scripts}}
  </body>
</html>
