<html>
  <head>
    {{>head}}
    <title>Sign up</title>
    <link rel="stylesheet" href="sign.css" />
  </head>

  <body class="taterbg" >
    {{>nav}}
    <div class="pl-lg-5 ml-md-5 ftco-animate">

      <section class="tater">
      <div class="login-box">
        <h1>Login</h1>
     
          <div class="textbox">
          <input type="email" class="input-box" placeholder="Email" />
          </div>
          <div class="textbox">
          <input type="password" class="input-box" placeholder="Password" />
        </div>
        <input class="btn" type="button" name="" value=" Login">

      </div>

      </div>
    </section>

    </div>
    {{footer}}
    {{>scripts}}
  </body>
</html>
